@import '../../variables.module';

.container {
  display: inline-flex;
  max-width: 20rem;
  padding: 0 $spacing-md;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 5rem;
  height: 5rem;
  margin: $spacing-md;
}
